*{
    margin: 0; padding: 0; border: 0;
}

a{
	text-decoration: none;
}

a:hover { 
    background: solid;
    background-color: rgba(166, 0, 178, 0.1);
}

.tudo{
	font-family: 'Slabo 27px', serif;
    background-image: url("background.jpg");
    max-width: 100%;
 
}

.menu{
	background-color: white;

}

.menuSpan{
	color: black;
    text-decoration: none;
    display: inline;
    margin-left: 5%;
    font-size: 25px;
}

#arealogin{
	padding-left: 50%;
}


.principal{
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 1%;
	width: 80%;
	margin-left: 8%;
	height: 100%;
	padding: 2%;
}

.principal h1{
	font-size: 100px;
	text-align: center;
}

.principal img{
	width: 3.5%;
	height: 3.5%;
	border-radius: 100%;
}

.principal p{
	width: 1000px;
	text-align: justify;
	font-size: 20px;
	margin-left: 3%;
}

.slideshow-container{
	margin-left: 40%;
}

.sobreNos{
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 1%;
	height: 100%;
	width: 80%;
	margin-left: 8%;
	padding: 2%;
}

.sobreNos p{
	font-size: 20px;
	text-align: justify;
}

.sobreNos img{
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

.sobreNos h1{
	font-size: 100px;
	text-align: center;
}

.imgSobreNos{
	width: 200px;
	margin-left: 1.2%;
	margin-top: 5%;
	display: inline-block;
}

.imgSobreNos h2{
	text-align: center;
	font-size: 20px;
	margin-right: 40%;
	padding-bottom: 25%;
}

.miniBlog{
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 1%;
	width: 80%;
	margin-left: 8%;
	height: 100%;
	padding: 2%;
}

.miniBlog p {
	font-size: 30px;
}

.contato{
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 1%;
	width: 80%;
	margin-left: 8%;
	height: 100%;
	padding: 2%;
}

.contato h1{
    text-align: center;
    font-size: 100px;
}

.contato img{
    margin-top: 5%;
    width: 50px;
}

.contato h2{
    text-align: center;
}

.contato input{
    width: 600px;
    height: 20px;
    margin-bottom: 3%;

  	border-color: black;
  	border-width: 1px;
  	border-style: dashed;
}

.contato textarea{
    width: 600px;
    height: 80px;
    margin-top: 2%;

    border-color: black;
  	border-width: 1px;
  	border-style: dashed;
}


.rodape{
	background-color: white;
	margin-top: 1%;
	height: 10%;
	padding-top: 0.5%;
}

.rodapeItem{
	color: black;
    font-size: 20px;
    text-align: center;
    padding-left: 25%;
}

.areaLogin{
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 1%;
	height: 100%;
	width: 80%;
	margin-left: 8%;
	padding: 2%;
}

.areaLogin h2{
	text-align: center;
	margin-bottom: 1%;
}

.areaLogin h1{
	text-align: center;
    font-size: 100px;
}


.areaLogin input{
    width: 30%;
    height: 60%;
    margin-bottom: 1%;
    margin-left: 35%;
  	border-color: black;
  	border-width: 1px;
  	border-style: dashed;
}

#logar{
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

.loginBordas{
	width: 70%;
	margin-left: 14%;
	margin-top: 2%;
	margin-bottom: 5%;
	border-color: black;
	border-width: 0.5px;
	border-style: solid;
	padding: 2%;
}

.areaLogin label{
	text-align: center;
	margin-left: 35%;
	font-size: 20px;
}

.areaCadastro{
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 1%;
	height: 100%;
	width: 80%;
	margin-left: 8%;
	padding: 2%;
}

.areaCadastro label{
	text-align: center;
	margin-left: 35%;
	font-size: 20px;
	 font-weight: bold;
}

.areaCadastro h1{
	text-align: center;
    font-size: 100px;
}


.areaCadastro input{
    width: 30%;
    margin-bottom: 1%;
    margin-left: 35%;
  	border-color: black;
  	border-width: 1px;
  	border-style: dashed;
}

.areaCadastro textarea{
	width: 20%;
	margin-left: 35%;
}

.cadastroBordas{
	width: 70%;
	margin-left: 14%;
	margin-top: 10%;
	margin-bottom: 10%;
	border-color: black;
	border-width: 0.5px;
	border-style: solid;
	padding: 2%;
}

.areaUsuario{
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 1%;
	height: 100%;
	width: 80%;
	margin-left: 8%;
	padding: 2%;
}

.visualizarDieta{
	background-color: rgba(255, 255, 255, 0.9);
	margin-top: 1%;
	height: 100%;
	width: 80%;
	margin-left: 8%;
	padding: 2%;
}

.visualizarDieta table{
	width: 70%
}

.visualizarDieta h1{
	text-align: center;
    font-size: 100px;
    margin-bottom: 2%;
}

.visualizarDieta h2{
	text-align: center;
	margin-bottom: 5%;
}

.visualizarDieta h3{
	text-align: justify;
	margin-top: 5%;
}

#tituloTabelaDietas{
	font-weight: bold;
	font-size: 20px;
}

#difTabelaDietas{
	background-color: white;
}

#botoesAreaAdm{
	font-weight: bold;
	font-size: 20px;
	margin-left: 35%;
}

#obsCadastro{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5%;
}

